.navbar {
    background: transparent;
    background-color: #8A8F84;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar h2{
    color: var(--pink);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbar > div {
    display: flex;
}

.menu {
    position: relative;
    cursor: pointer;
    margin: 24px;
    transition: all 200ms ease-in;
}

.menu > h4 {
    color: var(--darkblue);
    padding: 8px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: rgba(0, 30, 40, 0.1) 1px 4px 10px;
    transition: all 200ms ease-out;
}

.menu::after {
    background-color: var(--blue);
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    margin-left: 5px;
    height: 3px;
    transition: all 200ms ease-in;
}

.menu:hover {
    color: var(--blue);
    text-shadow: none;
    transition: all 200ms 50ms ease-out;
}

.menu:hover::after{
    width: 100%;
    left: 0;
    margin-left: 0px;
    transition: all 200ms 50ms ease-out
}
