* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

:root {
  --lightblue: #a3abbaaf;
  --darkblue: #282d36;
  --blue: #0a4e75;
  --gray: #da986d98;
  --pink: #ce4846;
  --green: #39cb5b;
  --coral: #ffc276;
  --white: #ffffff;
}
